In [16]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [17]:
df = pd.read_csv("/content/housing.csv")
df[:3]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY

In [18]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [20]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [21]:
def map_categorical_to_numerical(categorical_data):
    unique_categories = set(categorical_data)
    mapping = {category: i for i, category in enumerate(unique_categories)}
    return mapping

In [22]:
ocean_proximity_numerical=map_categorical_to_numerical(df['ocean_proximity'])
ocean_proximity_numerical

{'ISLAND': 0, 'NEAR OCEAN': 1, 'INLAND': 2, 'NEAR BAY': 3, '<1H OCEAN': 4}

In [23]:
new_ocean_proximity = np.array([])

for ocean_proximity in df['ocean_proximity']:
  new_ocean_proximity = np.append(new_ocean_proximity,ocean_proximity_numerical[ocean_proximity])

new_ocean_proximity[:3]

array([3., 3., 3.])

In [24]:
df = df.drop("ocean_proximity",axis=1)
df["ocean_proximity"] = new_ocean_proximity
df[:5]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,3.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,3.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,3.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,3.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,3.0

In [25]:
df = df.fillna(df.mean())
df[:4]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,3.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,3.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,3.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,3.0

In [26]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [27]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
cols_to_normalize = ['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income', 'ocean_proximity']
df[cols_to_normalize] = scaler.fit_transform(df[cols_to_normalize])
df[:3]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,0.211155,0.567481,0.784314,0.022331,0.019863,0.008941,0.020556,0.539668,452600.0,0.75
1,0.212151,0.565356,0.392157,0.180503,0.171477,0.067210,0.186976,0.538027,358500.0,0.75
2,0.210159,0.564293,1.000000,0.037260,0.029330,0.013818,0.028943,0.466028,352100.0,0.75

In [28]:
y = df["median_house_value"]
y = y/1000
X = df.drop("median_house_value",axis=1)

X.shape, y.shape

((20640, 9), (20640,))

In [29]:
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 42)

In [30]:
import tensorflow as tf
model = tf.keras.Sequential([
    tf.keras.layers.Dense(128),
    tf.keras.layers.Dense(64),
    tf.keras.layers.Dense(32),
    tf.keras.layers.Dense(16),
    tf.keras.layers.Dense(4),
    tf.keras.layers.Dense(1)
])

model.compile(loss="mae",
              optimizer=tf.keras.optimizers.Adam(),
              metrics = ["mse"])

model.fit(X_train,y_train,
          epochs=100,
          verbose=1)

Epoch 1/100
452/452 [==============================] - 3s 3ms/step - loss: 79.1719 - mse: 12845.4355
Epoch 2/100
452/452 [==============================] - 2s 3ms/step - loss: 54.4245 - mse: 6086.0195
Epoch 3/100
452/452 [==============================] - 4s 8ms/step - loss: 52.6916 - mse: 5729.0645
Epoch 4/100
452/452 [==============================] - 4s 9ms/step - loss: 51.6072 - mse: 5489.6440
Epoch 5/100
452/452 [==============================] - 3s 6ms/step - loss: 50.9792 - mse: 5316.7671
Epoch 6/100
452/452 [==============================] - 1s 3ms/step - loss: 50.2986 - mse: 5184.0303
Epoch 7/100
452/452 [==============================] - 2s 3ms/step - loss: 50.4173 - mse: 5193.4097
Epoch 8/100
452/452 [==============================] - 1s 3ms/step - loss: 50.4324 - mse: 5188.1318
Epoch 9/100
452/452 [==============================] - 2s 4ms/step - loss: 50.4435 - mse: 5191.3618
Epoch 10/100
452/452 [==============================] - 2s 5ms/step - loss: 50.0566 - mse: 5118.5386
Epoch 11/100
452/452 [==============================] - 2s 4ms/step - loss: 50.2647 - mse: 5143.4766
Epoch 12/100
452/452 [==============================] - 1s 3ms/step - loss: 50.2614 - mse: 5136.4956
Epoch 13/100
452/452 [==============================] - 2s 3ms/step - loss: 50.1889 - mse: 5143.0332
Epoch 14/100
452/452 [==============================] - 2s 3ms/step - loss: 49.9080 - mse: 5118.9736
Epoch 15/100
452/452 [==============================] - 1s 3ms/step - loss: 50.1861 - mse: 5151.4053
Epoch 16/100
452/452 [==============================] - 2s 3ms/step - loss: 49.9988 - mse: 5115.0591
Epoch 17/100
452/452 [==============================] - 2s 4ms/step - loss: 50.2361 - mse: 5146.7793
Epoch 18/100
452/452 [==============================] - 4s 9ms/step - loss: 49.9353 - mse: 5124.9561
Epoch 19/100
452/452 [==============================] - 4s 8ms/step - loss: 50.1391 - mse: 5143.4116
Epoch 20/100
452/452 [==============================] - 3s 6ms/step - loss: 50.0096 - mse: 5115.7310
Epoch 21/100
452/452 [==============================] - 2s 5ms/step - loss: 49.9860 - mse: 5135.7568
Epoch 22/100
452/452 [==============================] - 2s 3ms/step - loss: 50.1114 - mse: 5147.9302
Epoch 23/100
452/452 [==============================] - 2s 4ms/step - loss: 50.1079 - mse: 5113.0693
Epoch 24/100
452/452 [==============================] - 2s 5ms/step - loss: 50.1024 - mse: 5128.4341
Epoch 25/100
452/452 [==============================] - 2s 4ms/step - loss: 50.0793 - mse: 5112.2178
Epoch 26/100
452/452 [==============================] - 2s 3ms/step - loss: 49.8816 - mse: 5108.9453
Epoch 27/100
452/452 [==============================] - 1s 3ms/step - loss: 50.0926 - mse: 5128.3809
Epoch 28/100
452/452 [==============================] - 2s 3ms/step - loss: 50.1188 - mse: 5114.4082
Epoch 29/100
452/452 [==============================] - 1s 3ms/step - loss: 50.0398 - mse: 5124.0444
Epoch 30/100
452/452 [==============================] - 1s 3ms/step - loss: 49.9505 - mse: 5110.3555
Epoch 31/100
452/452 [==============================] - 2s 3ms/step - loss: 50.0434 - mse: 5139.9629
Epoch 32/100
452/452 [==============================] - 2s 5ms/step - loss: 50.1866 - mse: 5131.1060
Epoch 33/100
452/452 [==============================] - 2s 5ms/step - loss: 49.9648 - mse: 5114.7095
Epoch 34/100
452/452 [==============================] - 2s 3ms/step - loss: 50.0259 - mse: 5144.0181
Epoch 35/100
452/452 [==============================] - 1s 3ms/step - loss: 49.9908 - mse: 5140.2886
Epoch 36/100
452/452 [==============================] - 2s 3ms/step - loss: 49.9250 - mse: 5102.9717
Epoch 37/100
452/452 [==============================] - 2s 3ms/step - loss: 50.0743 - mse: 5137.6323
Epoch 38/100
452/452 [==============================] - 2s 4ms/step - loss: 49.8940 - mse: 5116.9282
Epoch 39/100
452/452 [==============================] - 2s 3ms/step - loss: 49.9297 - mse: 5088.8911
Epoch 40/100
452/452 [==============================] - 2s 4ms/step - loss: 50.1191 - mse: 5164.0967
Epoch 41/100
452/452 [==============================] - 2s 5ms/step - loss: 50.0128 - mse: 5122.7544
Epoch 42/100
452/452 [==============================] - 2s 4ms/step - loss: 49.9214 - mse: 5118.3687
Epoch 43/100
452/452 [==============================] - 2s 3ms/step - loss: 49.9013 - mse: 5097.6777
Epoch 44/100
452/452 [==============================] - 2s 3ms/step - loss: 49.8652 - mse: 5107.3193
Epoch 45/100
452/452 [==============================] - 1s 3ms/step - loss: 50.1418 - mse: 5151.5938
Epoch 46/100
452/452 [==============================] - 1s 3ms/step - loss: 49.9170 - mse: 5119.4595
Epoch 47/100
452/452 [==============================] - 2s 3ms/step - loss: 49.8676 - mse: 5099.2173
Epoch 48/100
452/452 [==============================] - 2s 4ms/step - loss: 49.9044 - mse: 5097.4487
Epoch 49/100
452/452 [==============================] - 2s 5ms/step - loss: 49.9406 - mse: 5110.6914
Epoch 50/100
452/452 [==============================] - 2s 5ms/step - loss: 50.0601 - mse: 5107.8086
Epoch 51/100
452/452 [==============================] - 2s 3ms/step - loss: 50.1446 - mse: 5145.1123
Epoch 52/100
452/452 [==============================] - 2s 4ms/step - loss: 49.9494 - mse: 5106.5220
Epoch 53/100
452/452 [==============================] - 2s 3ms/step - loss: 49.9373 - mse: 5124.8110
Epoch 54/100
452/452 [==============================] - 2s 3ms/step - loss: 50.0281 - mse: 5147.5698
Epoch 55/100
452/452 [==============================] - 2s 4ms/step - loss: 49.9277 - mse: 5097.9033
Epoch 56/100
452/452 [==============================] - 2s 4ms/step - loss: 49.8994 - mse: 5103.7368
Epoch 57/100
452/452 [==============================] - 2s 5ms/step - loss: 49.9827 - mse: 5120.5830
Epoch 58/100
452/452 [==============================] - 2s 5ms/step - loss: 50.0382 - mse: 5151.1973
Epoch 59/100
452/452 [==============================] - 2s 4ms/step - loss: 50.0533 - mse: 5118.5488
Epoch 60/100
452/452 [==============================] - 2s 3ms/step - loss: 49.9576 - mse: 5141.6182
Epoch 61/100
452/452 [==============================] - 2s 4ms/step - loss: 49.8375 - mse: 5088.3975
Epoch 62/100
452/452 [==============================] - 2s 3ms/step - loss: 49.9074 - mse: 5119.6587
Epoch 63/100
452/452 [==============================] - 2s 4ms/step - loss: 49.9203 - mse: 5093.5078
Epoch 64/100
452/452 [==============================] - 2s 4ms/step - loss: 49.8968 - mse: 5099.3750
Epoch 65/100
452/452 [==============================] - 2s 5ms/step - loss: 50.0010 - mse: 5124.5249
Epoch 66/100
452/452 [==============================] - 2s 5ms/step - loss: 49.8447 - mse: 5089.1118
Epoch 67/100
452/452 [==============================] - 2s 4ms/step - loss: 49.7996 - mse: 5093.2451
Epoch 68/100
452/452 [==============================] - 2s 4ms/step - loss: 49.9085 - mse: 5107.1191
Epoch 69/100
452/452 [==============================] - 2s 4ms/step - loss: 49.9461 - mse: 5108.7305
Epoch 70/100
452/452 [==============================] - 2s 4ms/step - loss: 49.8548 - mse: 5097.2930
Epoch 71/100
452/452 [==============================] - 2s 5ms/step - loss: 49.8593 - mse: 5110.2153
Epoch 72/100
452/452 [==============================] - 6s 12ms/step - loss: 49.9169 - mse: 5119.6895
Epoch 73/100
452/452 [==============================] - 3s 7ms/step - loss: 49.9180 - mse: 5106.2202
Epoch 74/100
452/452 [==============================] - 2s 4ms/step - loss: 49.8763 - mse: 5118.1621
Epoch 75/100
452/452 [==============================] - 2s 4ms/step - loss: 49.9891 - mse: 5128.7368
Epoch 76/100
452/452 [==============================] - 2s 3ms/step - loss: 49.8904 - mse: 5099.5059
Epoch 77/100
452/452 [==============================] - 1s 3ms/step - loss: 49.8302 - mse: 5082.9502
Epoch 78/100
452/452 [==============================] - 2s 3ms/step - loss: 49.8094 - mse: 5093.9087
Epoch 79/100
452/452 [==============================] - 2s 3ms/step - loss: 49.9072 - mse: 5103.3604
Epoch 80/100
452/452 [==============================] - 2s 4ms/step - loss: 49.9085 - mse: 5118.0225
Epoch 81/100
452/452 [==============================] - 2s 5ms/step - loss: 49.7761 - mse: 5096.8584
Epoch 82/100
452/452 [==============================] - 2s 5ms/step - loss: 49.8471 - mse: 5096.3008
Epoch 83/100
452/452 [==============================] - 2s 3ms/step - loss: 49.8289 - mse: 5086.0498
Epoch 84/100
452/452 [==============================] - 2s 3ms/step - loss: 49.8672 - mse: 5098.6553
Epoch 85/100
452/452 [==============================] - 2s 3ms/step - loss: 49.8721 - mse: 5090.2319
Epoch 86/100
452/452 [==============================] - 2s 4ms/step - loss: 49.9679 - mse: 5102.9478
Epoch 87/100
452/452 [==============================] - 2s 4ms/step - loss: 49.8958 - mse: 5111.2310
Epoch 88/100
452/452 [==============================] - 2s 4ms/step - loss: 50.0105 - mse: 5109.2031
Epoch 89/100
452/452 [==============================] - 2s 5ms/step - loss: 49.8928 - mse: 5111.5171
Epoch 90/100
452/452 [==============================] - 2s 4ms/step - loss: 49.9691 - mse: 5121.7383
Epoch 91/100
452/452 [==============================] - 2s 4ms/step - loss: 49.8661 - mse: 5086.5298
Epoch 92/100
452/452 [==============================] - 2s 3ms/step - loss: 49.9681 - mse: 5119.1455
Epoch 93/100
452/452 [==============================] - 2s 4ms/step - loss: 49.9794 - mse: 5127.6230
Epoch 94/100
452/452 [==============================] - 2s 3ms/step - loss: 49.8439 - mse: 5098.1543
Epoch 95/100
452/452 [==============================] - 2s 4ms/step - loss: 49.7031 - mse: 5075.0347
Epoch 96/100
452/452 [==============================] - 2s 4ms/step - loss: 49.9174 - mse: 5121.6523
Epoch 97/100
452/452 [==============================] - 3s 6ms/step - loss: 49.8911 - mse: 5110.1265
Epoch 98/100
452/452 [==============================] - 2s 5ms/step - loss: 49.9133 - mse: 5094.6484
Epoch 99/100
452/452 [==============================] - 2s 4ms/step - loss: 49.8796 - mse: 5109.8818
Epoch 100/100
452/452 [==============================] - 2s 3ms/step - loss: 49.9053 - mse: 5105.4355

In [31]:
from sklearn.ensemble import RandomForestRegressor

reg = RandomForestRegressor()
reg.fit(X_train, y_train)

RandomForestRegressor()

In [32]:
y_pred = reg.predict(X_test)

In [33]:
from sklearn import metrics
acc_rf = metrics.r2_score(y_test, y_pred)
print('MAE:',metrics.mean_absolute_error(y_test, y_pred))
print('MSE:',metrics.mean_squared_error(y_test, y_pred))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

MAE: 32.552660875323014
MSE: 2527.158401579369
RMSE: 50.27085041631352